/* footer {
    background:linear-gradient(to top, #3E91C1, #efad74 30%,#D16B28 60%);
    height: 30%;
    display:grid;
    height: 30vh;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    z-index: 1000;
} */
.footer-wrapper {
    background:linear-gradient(to top, #3E91C1, #efad74 30%,#D16B28 60%);
    height: 30vh;
    display:grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    align-content: center;
}
footer img {
    width: 35%;

}

.footer-logo {
    grid-column:2;
    align-self: center;
}

footer .contact {
    font-family: 'Open Sans', sans-serif;
    color:#eee;
    font-size: 1.75rem;
    grid-column: 4;
    font-weight: 400;
}

footer .contact h4 {
    margin-bottom: -1.5rem;
}

footer .address {
    font-family: 'Open Sans', sans-serif;
    color:#eee;
    font-size: 1.25rem;
    grid-column: 3;
    font-weight: 400;
}
footer li {
    list-style-type: none;
}

.footer-contact a {
    color:#eee;
    font-size: 1.25rem;
    text-decoration: none;
}

@media (max-width:749px){
    footer {
        background:linear-gradient(to top, #3E91C1, #efad74 30%,#D16B28 60%);
        display:grid;
        grid-template-columns: 12.5% 25% 25% 25% 12.5%;
        align-items: end;
        align-content: end;
        z-index: 1000;
    }
    
    footer img {
        width: 35%;
    
    }
    
    .footer-logo {
        grid-column:2;
        align-self: center;
    }
    
    footer .contact {
        font-family: 'Open Sans', sans-serif;
        color:#eee;
        font-size: 1.75rem;
        grid-column: 4;
        align-self: center;
        font-weight: 400;
    }
    
    footer .contact h4 {
        margin-bottom: -1.5rem;
    }
    footer li {
        list-style-type: none;
    }
    
    .footer-contact a {
        color:#eee;
        font-size: 1.25rem;
        text-decoration: none;
    }
}
